@import url("./responsive.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1b182b;
}
.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.dice-box p {
  padding-bottom: 30px;
  padding: 50px 0;
}
.container-content {
  margin-top: 100px;
}
.head-title {
  display: none;
}
#title{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

img {
  width: 50%;
}
button {
  padding: 15px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #4ECCA3;
  margin-top: 100px;
  cursor: pointer;
}
button a{
  color: black;
  text-transform: capitalize;
}
